<app-parent>
  <!-- pass an array of children to a dumb component -->
  <ng-template #pet let-item let-loc="location">
    <app-patient-card
      [name]="item.name"
      [condition]="item.condition"
      [age]="item.age"
      [gender]="item.gender"
      [id]="item.id"
      [lastAppointment]="item.lastAppointment"
    ></app-patient-card>
    {{loc}}
  </ng-template>
</app-parent>

<app-parent>
  <ng-template #tempRef let-name let-last="surname">
    <app-component-b
      [name]="name"
      [surname]="last"
    ></app-component-b>
  </ng-template>
</app-parent>
