<app-parent>
  <app-ng-content-child></app-ng-content-child>

  <!--  child taking input from the app -->
  <!-- <app-component-a [surname]="'Mavroudis'"></app-component-a> -->

  <!-- child taking input from the parent (content child)-->
  <!-- <app-component-b></app-component-b> -->

  <!-- child taking input from the parent (content children)-->
  <!-- <app-component-c></app-component-c>
  <app-component-c></app-component-c>
  <app-component-c></app-component-c> -->

  <!-- pass an array of children to a dumb component -->
  <!-- <ng-template let-item let-loc="location">
    <app-patient-card
      [name]="item.name"
      [condition]="item.condition"
      [age]="item.age"
      [gender]="item.gender"
      [id]="item.id"
      [lastAppointment]="item.lastAppointment"
    ></app-patient-card>
    {{loc}}
  </ng-template> -->
</app-parent>

<!-- <app-parent>
  <ng-template let-pot let-ot="sdf" let-of="location" >
    <app-component-b
      [name]="pot"
      [surname]="ot"
    ></app-component-b>
  </ng-template>
</app-parent> -->
